@use "./_variables" as *;

#frustration-section {
  

  .emotion-content {
    animation: shake 0.5s infinite;

    .frustration-btn {
      background-color: $accent-frustration;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-weight: 800;
      text-transform: uppercase;
      font-family: "Eagle Lake", serif;
      font-size: large;
      letter-spacing: 1px;
      animation: glowPulse 2s ease-in-out infinite;
    }
  }
}

@keyframes glowPulse {
  0% {
    box-shadow:
      0 0 20px #ff0000,
      0 0 40px #ff0000c4,
      0 0 60px #ff00008e;
  }
  50% {
    box-shadow:
      0 0 30px #ff4500,
      0 0 60px #ff4500c4,
      0 0 90px #ff45008e;
  }
  100% {
    box-shadow:
      0 0 20px #ff0000,
      0 0 40px #ff0000c4,
      0 0 60px #ff00008e;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  10% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
