@use './variables' as *;

#joy-section {


  margin: 0;
  overflow: hidden;
  background: #CF9A94;
background: radial-gradient(circle, rgba(160, 116, 190, 0.814) 0%, rgba(216, 198, 228, 0.814) 70%);

  canvas {
    display: block;
    height: 50rem;
  }

}
