.component-title {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 30px;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: #888;
  text-align: center;
}

.tab-container {
  position: fixed;
  top: 20px;
  right: 50px;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px;
  border-radius: 9px;
  z-index: 999;

  .scroller {
    content: "";
    width: 15px;
    height: 135px;
    opacity: 0.4;
    background: #888;
    position: absolute;
    top: 5px;
    right: -17px;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    border-radius: 7px;
  }

  .indicator {
    content: "";
    width: 10px;
    height: 28px;
    background: #00ff6a;
    position: absolute;
    top: 8px;
    right: -15px;
    z-index: 9;
    border: 0.5px solid rgba(0, 0, 0, 0.04);
    box-shadow:
      0px 3px 8px rgba(0, 0, 0, 0.12),
      0px 3px 1px rgba(0, 0, 0, 0.04);
    border-radius: 7px;
    transition: all 0.2s ease-out;
  }

  .tab {
    width: 130px;
    height: 28px;
    position: absolute;
    z-index: 99;
    outline: none;
    opacity: 0;
  }

  .tab_label {
    width: 200px;
    height: 50px;
    position: relative;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 1rem;
    font-family: "Funnel Display", sans-serif;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    color: black;
  }

  &.on-calm .tab_label {
    color: white;
  }

  .tab--1:checked ~ .indicator {
    top: 8px;
  }

  .tab--2:checked ~ .indicator {
    top: calc(28px * 2 + 2px);
  }

  .tab--3:checked ~ .indicator {
    top: calc(26.5px * 4 + 1px);
  }
}
